html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
}

.main-container {
  width: 75%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.86);
  padding: 5px;
  border-radius: 10px;
}

.main-container h1 {
  text-align: center;
}

.text-box {
  margin: 0px auto;
  width: 40%;
}

.filter-input {
  margin-top: 20px;
}

.messages-container {

  margin-top: 20px;
  margin-bottom: 20px;

}

.message-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: dodgerblue;
  margin-top: 5px;
  margin-bottom: 5px;
}

i {
  margin-left: 30px;
  margin-bottom: 15px;
  align-items: center;
}

.message-content {
  margin-left: 50px;
}

p{
  
  margin: 3px 0;
  font-size: 17px;
}
